.self-intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.self-intro__image {
  overflow: hidden;
  width: calc(15vw + 20px);
  height: calc(15vw + 20px);
  border-radius: 50%;
  margin: 1vw;
}

.self-intro__description {
}
