.title {
  font-size: calc(0.7vw + 1.2rem);
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.title__logo {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.title__text {
  display: flex;
  justify-content: center;
  align-items: center;
}
