.title {
  font-size: calc(0.7vw + 1.2rem);
  display: flex;
  flex-direction: row;
  cursor: pointer;

  &__logo {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
