.menu-drawer {
  position: fixed;
  overflow: auto;
  height: 100%;
  width: calc(10% + 10rem);
  background: $background;
  top: 0;
  right: 100%;
  z-index: 200;
  padding: 1vw 2vw;
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.5);
  transform: translateX(0);
  transition: transform 0.1s ease-out;

  &__open {
    transform: translateX(100%);
    box-shadow: 2px 0 8px rgb(0 0 0 / 15%);
  }

  &__title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  &__card {
    position: relative;
    border: 1px solid $secondary;
    box-sizing: border-box;

    &__meta {
      padding: calc(1vw);

      &__name {
        font-weight: 700;
        font-size: 1rem;
        margin-bottom: calc(0.5vw + 5px);
      }

      &__description {
        color: $tertiary;
        font-style: italic;
        margin-bottom: calc(0.3vw);
      }
    }

    &__contact {
      color: $tertiary;
      display: flex;
      justify-content: flex-end;
      padding: calc(0.5vw) calc(0.2vw);

      div {
        margin: calc(1vw);
        cursor: pointer;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  &__list {
    color: rgb(129, 133, 137);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: calc(1vw + 10px);

    div {
      margin: calc(0.3vw) 0;

      &:hover {
        color: $primary;
      }
    }
  }
}
