.search-input {
  position: relative;
  max-width: 490px;
  /* min-width: 100px; */
  display: block;
  margin: 0 auto;
}

.search-input__input {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  border-radius: 5px;
  outline: none;
}

.search-input__input:focus {
  border: 1px solid #008abf;
  transition: 0.35s ease;
  color: #008abf;
}

.search-input__input:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-input__input:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-input__input:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-input__input--icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  left: auto;
  right: 20px;
  cursor: pointer;
}
