import { GetStaticProps, NextPage } from 'next'

import MainLayout from '@components/layouts/main-layout'

interface Props {
}

const {{pascalCase name}}Page: NextPage<Props> = ({  }) => {
  return (
    <div>
    {{pascalCase name}}Page
    </div>
  )
}


export default {{pascalCase name}}Page
// @ts-ignore
{{pascalCase name}}Page.getLayout = (page: ReactElement) => <MainLayout>{page}</MainLayout>
