---
title: {{title}}
createdDate: "{{createdDate}}"
updatedDate: "{{createdDate}}"
author: {{author}}
category: project
categoryTitle: {{categoryTitle}}
categoryOrder: {{categoryOrder}}
tags: {{tags}}
description: {{description}}
draft: {{draft}}
---
