---
title: {{title}}
createdDate: "{{createdDate}}"
updatedDate: "{{createdDate}}"
author: {{author}}
category: series
categoryTitle: {{categoryTitle}}
categoryOrder: {{categoryOrder}}
tags: {{tags}}
description:

draft: {{draft}}

---
